<!-- Toolbar -->
<div class="footbar">
	<!-- footbar -->
	<div class="footbar-copyright">© Copyright 2021</div>

	<!-- content -->
	<div class="footbar-content">
		<article>
			ExpertWaves is designed by Tlamangile Ngobeni using
			<a href="https://angular.io" target="_blank">Angular</a>,
			<a href="https://nodejs.org/en/" target="_blank"> NodeJS</a>,
			<a href="https://www.w3schools.com/html/default.asp" target="_blank"> HTML</a> and
			<a href="https://www.w3schools.com/css/default.asp" target="_blank"> CSS</a>
		</article>
	</div>

	<!-- social links -->
	<app-sociallinks id="footbar" class="footbar-social-links"></app-sociallinks>
</div>
