<!-- Row container -->
<div class="flex-container">
	<!-- Navigation column -->
	<div class="flex-item-left">
		<div class="navigation-left">
			<h3>Navigation</h3>
			<ul>
				<li><a href="#Introduction">Introduction</a></li>
				<li><a href="#Education">Education</a></li>
				<li><a href="#Skills">Skills</a></li>
				<li><a href="#Experience">Experience</a></li>
				<li><a href="#Projects">Projects</a></li>
			</ul>
		</div>
	</div>

	<!-- Content column -->
	<div class="flex-item-middle">
		<div id="Introduction">
			<h3>Introduction</h3>

			<app-introduction></app-introduction>
		</div>

		<div id="Education">
			<h3>Education</h3>
			<app-education></app-education>
		</div>

		<div id="Skills">
			<h3>Skills</h3>

			<app-skills></app-skills>
		</div>

		<div id="Experience">
			<h3>Experience</h3>

			<app-experience></app-experience>
		</div>

		<div id="Projects">
			<h3>Projects</h3>

			<app-projects></app-projects>
		</div>
	</div>

	<!-- Details Column -->
	<div class="flex-item-right">
		<h3>Highlights</h3>

    <app-infobar></app-infobar>
	</div>
</div>
