
	.toolbar {
		display: flex;
		background-color: grey;
		padding: 0.5rem;
    flex-wrap:nowrap;
    position: sticky;
    margin-bottom: .5rem;
	}

	.toolbar-menu-icon {
		display: none;
		padding: 0.5rem;
	}

	.toolbar-menu-title {
		font-size: large;
		font-weight: bold;
		margin: 0.5rem;
	}

	.toolbar-menu-items {
		list-style: none;
		display: inline-block;
		padding: 0.5rem;
    flex-wrap:nowrap;
	}

	.item {
		margin: 0.5rem;
	}

  .item:hover {
    color: blue;
  }

  .toolbar-menu-social-links {
    display: flex;
    flex-direction: row-reverse;
		margin: 0.5rem;
    position: absolute;
    right: 0.5rem;
	}


	@media (max-width: 600px) {
		.toolbar-menu-icon {
			display: block;
		}

     .toolbar-menu-items {
      display: none;
    }

	}

	@media (max-width: 300px) {
		.toolbar-menu-social-links {
      display: none;
		}
	}
