	<!-- Toolbar -->
  <div class="toolbar">
    <!-- Icon -->
    <div class="toolbar-menu-icon"><span class="material-icons"> menu </span></div>

    <!-- title -->
    <div class="toolbar-menu-title">Expert CV</div>

    <!-- navigation lins -->
    <div class="toolbar-menu-items">
      <span class="item">Home</span>
      <span class="item">Education</span>
      <span class="item">Experience</span>
      <span class="item">Skills</span>
      <span class="item">Project</span>
    </div>

    <!-- social links -->
    <app-sociallinks class="toolbar-menu-social-links"></app-sociallinks>
  </div>
