<div >
  <a href="https://www.linkedin.com/in/tlamangile-ngobeni-477714203/" target="_blank">
  <img src="./../../../assets/social-icons/Linkedin.png" class="social-icon">
  </a>
  <a href="https://github.com/qaman88" target="_blank">
  <img src="./../../../assets/social-icons/Git.png" class="social-icon">
  </a>
  <a href="https://expertcommunitygroup.slack.com/" target="_blank">
  <img src="./../../../assets/social-icons/Slack.png" class="social-icon" >
  </a>
  <a href="https://stackoverflow.com/users/2625157/expert-tlamangile" target="_blank">
    <img src="./../../../assets/social-icons/Stackoverflow.png" class="social-icon" >
  </a>
  <a href="https://twitter.com/qaman88" target="_blank">
    <img src="./../../../assets/social-icons/Twitter.png" class="social-icon" >
  </a>
  <a href="https://www.youtube.com/channel/UC7udFk6LBioUrK64hDcNAOQ" target="_blank">
  <img src="./../../../assets/social-icons/Youtube.png" class="social-icon" >
  </a>
</div>
