<!-- Toolbar -->
<div class="toolbar">
	<!-- Icon -->
	<div class="toolbar-menu-icon"><span class="material-icons"> menu </span></div>

	<!-- title -->
		<img src="./../../../assets//icon.png" height="35" />
	<div class="toolbar-menu-title">
    <span> Expert Waves</span>
	</div>

	<!-- navigation lins -->
	<div class="toolbar-menu-items" *ngFor="let page of pages">
		<a routerLink={{page.path}} class="item">{{page.name}}</a>
	</div>

	<!-- social links -->
	<app-sociallinks id="toolbar" class="toolbar-menu-social-links"></app-sociallinks>
</div>
